
body{
    background: linear-gradient(to right, #22c1c3, #fdbb2d); 
}

.main{
    background-color: white;
    width: 552PX;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 31px;
    border-radius: 5px;
}

select{
    margin-left: 2px; width: 170px ;
}

.button{
    margin-left: 106
    px;
    height: 35px;
    border-radius: 7px;
    background-color: green;
    color: aliceblue;
}

label{
    display: inline-block;
    width: 100px;
}

.note{
    color: grey;
    margin: 0px;
    margin-left: 104px;
}

.bluenot{
    background-color: rgb(141, 164, 177);
    position: absolute;
    margin-left: 331px;
    margin-right: 15px;
    margin-top: -380px;
    color:rgb(38, 102, 128);
    border-radius:3px;
    padding: 5px;
}

.header{
    background-color: orange;
    margin:0;
   
}
body{
    padding: 0;
    margin: 0;
}